body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #333 no-repeat center top / cover;
}

* {
    box-sizing: border-box;
}

section {
    padding-top: 150px;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

input {
    border: 1px solid #616161;
    background: #444;
    width: 180px;
    height: 35px;
    padding: 9px 15px;
    caret-color: #fff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

textarea {
    border: 1px solid #616161;
    background: #444;
    caret-color: #fff;
    color: #fff;
    width: 310px;
    height: 100px;
    padding-left: 15px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #1d5799;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #D1A954;
}

.about_theatre_title,
.our_production_title,
.partners_of_theatre_title,
.footer_title {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.35em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.gold_word {
    color: #D1A954;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    background: url(../img/header.jpg) no-repeat center top / cover;
    padding-top: 50px;
    padding-bottom: 204px;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}

.nav_menu {
    display: flex;
}

.nav_menu p {
    margin-right: 63px;
}

.burger_menu {
    display: none;
}

.nav_tel:after {
    content: '';
    display: block;
    border: 1px solid #D1A954;
    background-color: #D1A954;
}

.header_content {
    display: flex;
    margin-top: 187px;
}

.article {
    margin-top: 117px;
    width: 540px;
}

.header_content_title {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 0.1em;
    line-height: 1.36em;
    font-weight: 700;
}

.header_content_article {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 50px;
}

.btn_header {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    background-color: #D1A954;
    padding: 12px 47px;
    width: 160px;
    height: 50px;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.btn_header:hover {
    background-color: #000;
    color: #D1A954;
}

.slider {
    margin-left: 125px;
}

.slider_arrow {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.arrow_prev {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.arrow_prev img {
    margin-right: 25px;
}

.arrow_next {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.arrow_next img {
    margin-left: 25px;
}

.about_theatre_article {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.article_the_best {
    width: 445px;
}

.article_the_best_title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.article_the_best_p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

.few_numbers_article_title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.curtain {
    margin-top: 27px;
}

.few_numbers_article_p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin-top: 15px;
}

.our_prodution_images {
    margin-top: 100px;
    text-align: center;
}

.our_prodution_img {
    transition: all 0.3s ease;
}

.our_prodution_img:hover {
    transform: scale(1.1);
}

.nomination {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.partner_of_theatre {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
}

.footer {
    margin-top: 120px;
}

.footer_flex {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer_form {
    display: flex;
    justify-content: space-between;
    width: 730px;
    margin: 0 auto;
}

.footer_input {
    display: flex;
    width: 390px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input_company,
.input_name {
    margin-bottom: 30px;
}

.confidentiality {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #989898;
    margin-top: 40px;
}

.btn_footer {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #D1A954;
    padding: 12px 10px;
    width: 190px;
    height: 50px;
    margin-top: 40px;
    margin-left: auto;
}

.btn_footer:hover {
    background: #000;
}

.line_footer {
    border: 1px solid #565656;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 30px;
}

.author {
    display: flex;
    justify-content: space-between;
}

.author p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #989898;
    margin-bottom: 30px;
}





@media screen and (max-width: 1110px) {
    .container {
        width: 960px;
    }

    .nav {
        font-size: 14px;
    }

    .header_content_title {
        font-size: 54px;
    }

    .footer_contact {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}

@media screen and (max-width: 960px) {
    .container {
        width: 700px;
    }

    .nav_menu {
        display: none;
    }

    .burger_menu {
        display: block;
    }

    .burger_menu:hover {
        fill: #D1A954;
    }

    .header_content_article {
        margin-top: 25px;
    }

    .article {
        margin-top: 0;
    }

    .slider_img {
        width: 250px;   
    }

    .about_theatre_article {
        display: block;
        text-align: center; 
    }

    .article_the_best {
        margin: 0 auto;
    }

    .few_numbers_article_title {
        margin-top: 40px;
    }

    .img_article {
        margin-top: 40px;
    }

    .partner_of_theatre img {
        width: 150px;
    }

    .footer_input {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 415px;
    }
    
    .header_content {
        display: block;
    }

    .header_content_article {
        width: 420px;
    }

    .btn_header {
        margin: 0 auto;
        margin-top: 50px;
    }

    .slider {
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    .article_the_best_p {
        width: 420px;
    }

    .our_prodution_images img {
        width: 350px;
    }

    .footer_form {
        display: block;
    }

    .author p {
        font-size: 10px;
    }
}