body{
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;   
}

input, button, a, p, div, textarea {
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1em;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #868686;
}

span {
    color: #d1a954;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    background: url('../img/header.jpg') no-repeat center top / cover;
    padding-top: 50px;
    padding-bottom: 204px;
    width: 100%;
}

.nav__menu {
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__menu:hover {
    fill: #d1a954;
}

.nav__menu__open {
    background: #333;
    width: 30%;
    height: 135%;
    margin-top: -50px;
    display: none;
    position: absolute;
}

.nav__menu__close {
    margin: 50px 30px 0 auto;
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__menu__close:hover {
    fill: #d1a954;
}

.change {
    display: block;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    line-height: 1.6em;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-bottom: 187px;
}

.nav__menu {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__menu:hover {
    fill: #d1a954;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    width: 830px;
}

.tel {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.nav__tel:after {
    content: '';
    display: block;
    border: 1px solid #d1a954;
    background: #d1a954;
}

.offer__wrapper {
    display: flex;
    align-items: center;
}

.offer__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.36em;
}

.offer__text {
    margin: 50px 0;
    font-size: 14px;
    line-height: 1.5em;
    width: 550px;
}

.btn {
    display: block;
    background: #d1a954;
    width: 160px;
    height: 50px;
    padding: 12px 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 0.1em;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #936c19;
    color: #fff; 
}

.slider {
    margin-left: 125px;
}

.slider__arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.slider__arrows a {
    display: flex;
}

.section__title {
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    margin: 150px 0 100px 0;
}

.information__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.information__title {
    font-size: 21px;
    margin-bottom: 40px;
}

.information__text {
    font-size: 14px;
    line-height: 1.5em;
    width: 445px;
}

.information__string {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
}

.information__img {
    margin-top: 30px;
}

.perfomances__wrapper {
    text-align: center;
}

.raiting {
    background: url('../img/nomination.jpg') no-repeat center top / cover;
    margin-top: 150px;
    padding: 126px 0;
    display: flex;
    align-items: center;
}

.raiting__years {
    color: #d1a954;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 72px;
    width: 182px;
    margin: 0 103px 0 15%;
}

.stars {
    margin-bottom: 25px;
}

.raiting__string {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5em;
    width: 70%;
}

.partners {
    text-align: center;
}

.partners img {
    margin: 0 39px 80px 39px;
}

.form {
    display: flex;
    justify-content: space-between;
}

.tel li {
    margin-bottom: 25px;
}

.form__wrapper {
    margin-left: auto;
}

form {
    display: flex;
}

.inputs {
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5em;
    border: 1px solid #616161;
    background: #444;
    width: 180px;
    height: 35px;
    padding: 0 15px;
    caret-color: #fff;
    color: #fff;
}

input {
    margin-bottom: 30px;
}

textarea {
    width: 310px;
    height: 100px;
    padding-top: 10px;
    resize: none;
    margin-left: 30px;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #1d5799;
}

.form__send {
    display: flex;
    justify-content: space-between;
}

.form__string {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #989898;
    display: inline-block;
    width: 390px;
}

.footer__btn {
    border: none;
    width: 190px;
    color: #fff;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

footer:before {
    content: '';
    display: block;
    width: 1110px;
    margin: 0 auto;
    margin-top: 50px;
    background: #565656;
    border: 1px solid #565656;

}

.footer p {
    font-size: 12px;
    line-height: 1.5em;
    color: #989898;
}


@media screen and (max-width: 1024px) {
    .container {
        width: 768px;
    }

    .nav {
        font-size: 16px;
    }

    .nav__ul {
        width: 610px;
    }

    .tel {
        font-size: 14px;
    }

    .slider {
        display: none;
    }

    .information__wrapper__img {
        display: none;
    }

    .raiting__string {
        font-size: 24px;
    }

    .form {
        display: block;
    }

    textarea {
        margin-left: auto;
    }

    footer:before {
        width: 768px;
    }
}

@media screen and (max-width: 798px) {
    .container {
        width: 606px;
    }

    .nav__ul {
        display: none;
    }

    .nav__menu {
        display: block;
        width: 30px;
        height: 30px;
    }

    .information__text {
        width: 345px;
    }

    .inputs {
        width: 330px
    }

    input {
        width: 150px
    }

    textarea {
        width: 250px;
    }

    footer:before {
        width: 606px
    }
}

@media screen and (max-width: 636px) {
    .container {
        width: 320px;
    }

    .offer__title {
        font-size: 40px;
    }

    .offer__text {
        width: 320px;
    }

    .section__title {
        font-size: 30px;
    }

    .information__wrapper div {
        width: 320px;
    }

    .information__wrapper {
        text-align: center;
    }

    .information__text {
        margin-bottom: 30px;
        width: 320px;
    }

    .perfomances__wrapper img {
        width: 320px;
    }

    .raiting__years {
        font-size: 48px;
        margin: 0 15px 0 15px;
    }

    .stars {
        width: 160px;
    }

    form {
        flex-wrap: wrap;
    }

    textarea {
        width: 320px;
        margin-bottom: 30px;
    }

    .form__string {
        position: absolute;
        margin-top: 80px;
        width: 320px;
        text-align: center;
    }

    .footer__btn {
        width: 320px;
    }

    footer:before {
        width: 320px;
        margin-top: 130px;
    }
}